@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
  background-color: #FF8029;
  font-family: 'Press Start 2P', cursive;
}
h1{
  margin: 50px auto;
  border-radius: 10px;
  width: 300px;
  height: 60px;
  padding-top: 15px;
  text-align: center;
  color: #DDE53A;
}
#container{
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 300px;
}
.color{
  margin: 10px;
  border-radius: 10px;
  height: 150px;
  border: 5px solid white;
}
.color:hover{
  cursor: pointer;
}
h1:hover{
  cursor: pointer;
}
#puntaje{
  margin-right: 0;
  border: 1px solid black;
  background-color: cornsilk;
  width: 60px;
  height: 60px;
  padding-top: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 30px;
}
